//
// Images classes
// --------------------------------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.rectangle-large{
  height: 400px;
}
.rectangle{
  height: 250px;
}

.img-main{
	width: 50px;
	@media (min-width: 480px){ width: 120px;}
}

.bg-image-nosotros{ background-image: url('img/icecream.png') }
.bg-image-producto{ background-image: url('img/productos/icecream_1.png') }
.bg-image-producto_2{ background-image: url('img/productos/icecream_4.png') }