//
// Images classes
// --------------------------------------------------

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.rectangle-large{
  height: 400px;
}
.rectangle{
  height: 250px;
}

.img-main{
	width: 50px;
	@media (min-width: 480px){ width: 120px;}
}